.container_tourismMagazine {
  margin-top: 9rem;
  border-radius: 10px;
}
.container_tourismMagazine > div:nth-child(1) {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: v;
}
.container_tourismMagazine > div:nth-child(1) > h1 {
  color: #003399;
}
.container_tourismMagazine > div:nth-child(1) > p {
  color: #686868;
}
.container_card_tourismMagazine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 30px;
  justify-items: center;
  gap: 30px;
}
.container_card {
  height: 370px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  font-family: v;
  position: relative;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);

}
.container_card > div > div {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: -9px;
}
.container_card > div img {
  height: 190px;
  width: 100%;
  object-fit: cover;
}
.container_card > div > div > h4 {
  font-size: 16px;
  padding-top: 12px;
  color: #002d83;
}
.container_card > div > div p {
  font-size: 12px;
  text-align: justify;
  padding-top: 6px;
  color: #939396;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_card > div > div > div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.container_card > div > div > div > button {
  background-color: transparent;
  border: hidden;
  font-family: v;
  font-size: 11px;
}

.container_card .robon {
  position: absolute;
  top: 0;
  right: 15px;
  width: 80px;
  height: 30px;
  font-size: 10px;
  background-color: #002d83;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
