.container_partOne {
  width: 100%;
  height: 90vh;
  position: relative;
}

.container_partOne .container_form {
  position: absolute;
  top: 25%;
  transform: translate("-50%,-50%");
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.container_partOne .container_form > div {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 7px;

  backdrop-filter: blur(10px);
}
.container_partOne
  .container_form
  > div
  > div:nth-child(1) {
  width: 80%;
}
.container_partOne
  .container_form
  > div
  > div:nth-child(2) {
  width: 90%;
  padding: 50px 0;
}

.container_partOne .container_form > div > div {
  width: 80%;
  margin: 0 auto;
}
.container_partOne .container_form h1 {
  color: white;
  font-family: v;
  font-size: 20px;
}
.container_partOne .container_form .tabs_fly {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
}
.container_partOne .container_form .tabs_fly > button {
  width: 6rem;
  height: 2.9rem;
  border-radius: 10px;
  outline: hidden;
  border: hidden;
  font-family: v;
  cursor: pointer;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.3);
}
.container_partOne
  .container_form
  .tabs_fly
  > button:hover {
  background-color: #cdcccc;
  transition: all 0.5s ease;
}

.container_partOne
  .container_form
  .tabs_fly
  > button.active {
  background-image: linear-gradient(
    45deg,
    #00001f 20%,
    #182848 70%,
    #4b6cb7 100%
  );

  color: white;
}

.container_selelct {
  display: flex;
  gap: 14px;
}

.Origin_destination {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  width: fit-content;
}

.Origin_destination .leftRightLine {
  position: absolute;
  top: -4%;
  right: 44%;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.3);
}

/* .react_select_menu  */

.range_date_container {
  display: flex;
  gap: 10px;
}

.range_date_container input {
  height: 45px !important;
  border-radius: 6px !important;
  text-align: center;
  font-size: 14px !important;
}

.container_selelct .btn_search {
  background-color: #0096f5;
  min-width: 95px;
  font-family: v;
  border: none;
  color: white;
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
}
.container_selelct .btn_search:hover{
  background-color: #047ac3;
}
