.partone {
    width: 100%;
    height: 70vh;
    background-image: url('./../../../public/images/home/prague-3010407_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.active__btn {
    background-color: rgb(7, 22, 184) !important;
    color: #fff;
}

.partone > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    border-radius: 14px;
    backdrop-filter: blur(4px);
    margin: auto;
}

.partone > div:nth-child(1) > span {
    width: 85%;
    margin: auto;
}

.partone > div:nth-child(1) > span:nth-child(1) {
    font-family: k;
    color: #fff;
    font-size: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.partone > div:nth-child(1) > span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.partone > div:nth-child(1) > span:nth-child(2) > p {
    background-color: rgb(131, 131, 131);
    color: #fff;
    text-align: center;
    width: 7rem;
    padding: 12px 10px;
    font-family: v;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
}

.partone > div:nth-child(1) > span:nth-child(2) > p:hover {
    transform: scale(1.10);
}

.partone > div:nth-child(1) > span:nth-child(3) {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partone > div:nth-child(2) {
    width: 80%;
    margin: auto;
}

.partone > div:nth-child(2) > p {
    font-family: k;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 30px;
    border-radius: 10px;
    width: fit-content;
}