.card_slider {
  width: 500px !important;
  height: 370px !important;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card_slider img {
  width: 100%;
  height: 100%;
}

.slider_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  padding-top: 2rem;
}
.slider_text h1 {
  text-align: center;
  font-family: k;
}
.slider_text p {
  text-align: center;
  font-family: v;
}

.container_slider {
  background-color: #cc0033;
  margin-top: 190px;
}
