.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 3.5rem;
  background-color: #00094d;
  color: white;
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.3);
}

.container_header > div:nth-child(1) {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.container_header > div:nth-child(1) > a {
  color: white;
  text-decoration: none;
  font-family: v;
  font-size: 13px;
}

.container_header > ul {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 25px;
  list-style: none;
}
.container_header > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: v;
  font-size: 13px;
}

.container_header > ul > span {
  display: inline-block;
  width: 1px;
  background-color: white;
}

.container_header > div:nth-child(3) {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.container_header > div:nth-child(3) .base {
  position: absolute;
  top: -40px;
  left: 8rem;
  width: 150px;
  height: 150px;
  rotate: 90deg;
  clip-path: polygon(
    0% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%
  );
  z-index: 9999;
}

/* menu list profile */
.list_profile_menu {
  position: relative;
}

.list_profile_menu_option {
  position: absolute;
  top: 40px;
  right: 0;
  width: 170px;
  height: 100px;
  background-color: white;
  z-index: 9999;
  border-radius: 4px;
  font-family: v;
  padding: 8px;
  opacity: 0;
  transition: all 0.2s ease-in-out;

}

.list_profile_menu_option.active{
  opacity: 1;
}
.list_profile_menu_option > a {
  padding: 7px 15px;
  border-radius: 5px;
  margin: 4px 0;
  cursor: pointer;
  display: block;
}
.list_profile_menu_option > a:hover{
  background-color: #eee;
}
.list_profile_menu_option >  a {
  width: 100%;
  font-size: 13px !important;
  text-decoration: none !important;
  color: #151313 !important;
}

.list_profile_menu_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list_profile_menu_links > a {
  text-decoration: none;
  color: white;
  font-family: v;
  font-size: 13px;
}
